body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  color: #222;
}

main {
  padding: 2em;
}

.section-top {
  background: #4fc3f7;
  color: #fff;
  padding: 60px 20px 40px 20px;
  text-align: center;
}

.wave {
  width: 100%;
  line-height: 0;
  position: relative;
  margin-bottom: -30px; /* 下のセクションと隙間ができる場合 */
}

.section-bottom {
  background: #fff;
  color: #222;
  padding: 60px 20px 600px 20px;
  text-align: center;
}
